:root {
  /* generated via uicolors.app */
  /* Payne's gray */
  --mid-gray-50: #f7f8f8;
  --mid-gray-100: #ededf1;
  --mid-gray-200: #d7d9e0;
  --mid-gray-300: #b4b8c5;
  --mid-gray-400: #8b92a5;
  --mid-gray-500: #6d758a;
  --mid-gray-600: #555b6e;
  --mid-gray-700: #484d5c;
  --mid-gray-800: #3e414e;
  --mid-gray-900: #373a43;
  --mid-gray-950: #24252d;

  /* Celestial Blue */
  --curious-blue-50: #f1f7fe;
  --curious-blue-100: #e2effc;
  --curious-blue-200: #bedef9;
  --curious-blue-300: #84c3f5;
  --curious-blue-400: #39a0ed;
  --curious-blue-500: #1a8add;
  --curious-blue-600: #0c6cbd;
  --curious-blue-700: #0b5699;
  --curious-blue-800: #0e4a7e;
  --curious-blue-900: #113e69;
  --curious-blue-950: #0b2746;

  /* Aquamarine */
  --aquamarine-50: #effef9;
  --aquamarine-100: #c9fef1;
  --aquamarine-200: #93fce4;
  --aquamarine-300: #36f1cd;
  --aquamarine-400: #22dfc0;
  --aquamarine-500: #09c3a7;
  --aquamarine-600: #049d8a;
  --aquamarine-700: #087d70;
  --aquamarine-800: #0c635a;
  --aquamarine-900: #0f524b;
  --aquamarine-950: #01322f;

  /* Apricot */
  --romantic-50: #fff5ed;
  --romantic-100: #ffe8d5;
  --romantic-200: #ffd6ba;
  --romantic-300: #ffa872;
  --romantic-400: #fd793a;
  --romantic-500: #fc5513;
  --romantic-600: #ed3909;
  --romantic-700: #c4280a;
  --romantic-800: #9c2110;
  --romantic-900: #7d1e11;
  --romantic-950: #440c06;

  /* Blush */
  --cranberry-50: #fbf4f6;
  --cranberry-100: #f9eaf0;
  --cranberry-200: #f4d6e0;
  --cranberry-300: #ecb5c6;
  --cranberry-400: #df87a1;
  --cranberry-500: #d36582;
  --cranberry-600: #bf435d;
  --cranberry-700: #a43247;
  --cranberry-800: #882c3c;
  --cranberry-900: #722935;
  --cranberry-950: #44131b;

  --theme-white: white;
  --theme-text: var(--mid-gray-600);
  --theme-background: var(--mid-gray-50);
  --theme-border: var(--mid-gray-200);
  --theme-sidebar: var(--mid-gray-100);
  --link-default: var(--curious-blue-400);
  --link-hover: var(--curious-blue-300);
  --link-active: var(--curious-blue-600);
  --broken-link-default: var(--cranberry-500);
  --broken-link-hover: var(--cranberry-400);
  --broken-link-active: var(--cranberry-700);
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

body {
  display: flex;
  font-family: sans-serif;
  background: var(--theme-background);
  color: var(--theme-text);
  line-height: 1.5em;
}

img {
  max-width: 100%;
}

#sidebar {
  background: var(--theme-sidebar);
  padding: 16px;
  min-height: 100vh;
  width: 240px;

  nav ol {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style-type: none;
    padding: 0;

    li.active {
      border-left: 8px solid var(--link-active);
    }

    li a {
      color: var(--mid-gray-500);
      display: inline-block;
      padding: 8px 16px;
      text-decoration: none;

      &:hover {
        color: var(--mid-gray-400);
      }

      &:active {
        color: var(--mid-gray-600);
      }
    }

    li.active a {
      color: var(--link-default);

      &:hover {
        color: var(--link-hover);
      }

      &:active {
        color: var(--link-active);
      }
    }
  }
}

#searchbar {
  display: flex;
  flex-direction: column;

  input[type="search"] {
    font-size: 16px;
    border: 1px solid var(--mid-gray-300);
    color: inherit;
    padding: 8px 12px;
    border-radius: 4px;
  }

  input[type="search"]:hover {
    border: 1px solid var(--mid-gray-200);
  }

  input[type="search"]:focus {
    border: 1px solid var(--mid-gray-400);
    outline: none;
  }

  #suggestions {
    position: relative;

    ul {
      background: var(--theme-white);
      border: 1px solid var(--theme-border);
      position: absolute;
      width: 100%;
      padding: 0;
      margin: 0;
      list-style-type: none;
      line-height: 2em;

      li {
        padding: 0 12px;
        display: flex;
        flex-direction: column;
        color: var(--mid-gray-600);
      }

      li.selected {
        background: var(--curious-blue-300);
        color: var(--theme-bright-text);
      }

      li:hover {
        background: var(--theme-neutral-brighter);
        color: var(--mid-gray-400);
      }

      li a {
        color: inherit;
      }
    }
  }
}

main {
  padding: 16px;
  margin: 16px;
  background: white;
  border-radius: 8px;
  flex-grow: 1;

  /* prevent main block to exceed viewport */
  width: 0px;

  code {
    background: var(--theme-background);
  }

  pre, figure {
    background: var(--theme-background);
    border: 1px solid var(--theme-border);
  }

  figure {
    margin: 0;
    padding: 4px;
  }

  figure.thumb {
    clear: both;
    float: right;

    & > img {
      max-width: 300px;
    }
  }

  table {
    border-collapse: collapse;

    th, td {
      border: 1px solid black;
      padding: 4px 8px;
    }

    th {
      background-color: var(--curious-blue-200);
    }

    tr:hover {
      background-color: var(--mid-gray-100);
    }

    tr:nth-child(2n) {
      background-color: var(--mid-gray-50);

      &:hover {
        background-color: var(--mid-gray-100);
      }
    }
  }

  h1 {
    padding-bottom: 4px;
    border-bottom: 1px solid currentColor;
    font-size: 32px;
  }

  h2 {
    padding-bottom: 4px;
    border-bottom: 1px solid currentColor;
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  a {
    color: var(--link-active);
    text-decoration: none;
  }

  a:hover {
    color: var(--link-hover);
  }

  a:active {
    color: var(--link-active);
  }

  a.broken {
    color: var(--broken-link);
  }

  a.broken:hover {
    color: var(--broken-link-hover);
  }

  a.broken:active {
    color: var(--broken-link-active);
  }

  ul, ol {
    padding-left: 16px;
  }

  ul.filetree {
    --spacing: 1.5rem;
    --radius: 10px;

    summary {
      display: block;
      cursor: default;
      color: var(--mid-gray-500);
    }

    summary:hover {
      color: var(--mid-gray-600);
      background: var(--curious-blue-100);
    }

    summary:active {
      background: var(--curious-blue-200);
    }

    summary::marker {
      display: none;
    }

    summary:focus {
      color: var(--mid-gray-900);
      outline: none;
    }

    summary:focus-visible {
      outline: 1px dotted #000;
    }

    li {
      display: block;
      position: relative;
      padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);

      border-left: 2px solid var(--theme-border);
    }

    li:last-child {
      border-color: transparent;
    }

    li::before {
      content: '';
      display: block;
      position: absolute;
      top: calc(var(--spacing) / -2);
      left: -2px;
      width: var(--spacing);
      height: var(--spacing);
      border: solid var(--theme-border);
      border-width: 0 0 2px 2px;
    }

    & > li {
      padding-left: 0;
    }

    & > li:first-child::before {
      display: none;
    }

    ul {
      margin-left: calc(var(--radius) - var(--spacing));
      padding-left: 0;
    }

    summary::before {
      content: "📁 ";
    }

    details[open] > summary::before {
      content: "📂 ";
    }

    span.label::before {
      content: "📄 ";
    }
  }

  details > summary {
    cursor: default;
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin-inline-start: 1em;
  }

  footer {
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid var(--theme-background);
    color: var(--theme-text);
    margin-top: 16px;
    padding-top: 0px;
    font-size: 12px;
  }
}

.hljs-keyword, .hljs-tag {
  color: MediumVioletRed;
}

.hljs-built_in {
  color: DeepPink;
}

.hljs-type {
  color: PaleVioletRed;
}

.hljs-literal {
  color: HotPink;
}

.hljs-number {
  color: DodgerBlue;
}

.hljs-regexp, .hljs-string {
  color: Firebrick;
}

.hljs-char.escape {
  color: OrangeRed;
}

.hljs-subst {
  color: MediumSlateBlue;
}

.hljs-variable {
  color: Olive;
}

.hljs-comment {
  color: Green;
}

.hljs-doctag {
  color: DarkOliveGreen;
}

.hljs-meta {
  color: Chocolate;
}

.hljs-attr, .hljs-title {
  color: DarkCyan;
}
